---
import Welcome from '../components/Welcome.astro';
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'
import Sidebar from '../components/Sidebar.astro'
import '../styles/gallery.css';

const pageTitle =  'Gallery'
---

<html lang="en">
    <head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Dangrek&display=swap" rel="stylesheet">
        <title>{pageTitle}</title>
    </head>
    <body>
		<Welcome />
		<Navbar />
		<Sidebar />
		<main id="homepage">
			<h1>Welcome to my gallery archive</h1>
			<h2>Check out my latest gallery <a href="/astro_gallery/socal">here</a></h2>
			<h3>Or checkout my other galleries linked in the sidebar</h3>
		</main>
		<Footer />
    </body>
</html>
