---
import Welcome from '../components/Welcome.astro';
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'
import Sidebar from '../components/Sidebar.astro'
import MainContent from '../components/MainContent.astro'
import '../styles/gallery.css';

const pageTitle =  'Gallery'
---

<html lang="en">
    <head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
        <title>{pageTitle}</title>
    </head>
    <body>
		<Welcome />
		<Navbar />
		<Sidebar />
		<MainContent />
		<Footer />
    </body>
</html>
