---
import ImageResizer from '../components/ImageResizer.astro';

import me_with_sweets from '../assets/MeBeverlyHillsEatingSweets.jpg'
import me_mood_fabrics from '../assets/MeMoodFabrics1.jpg'
import me_disney from '../assets/me_organic_fuel_CA_adventures.jpeg'
---

<main>
    <h1>Main content</h1>
    <div class="image-gallery">
        <ImageResizer src={me_disney}, alt="Me at mood fabrics"/>
	    <ImageResizer src={me_mood_fabrics}, alt="Me at mood fabrics"/>
        <ImageResizer src={me_with_sweets}, alt="Me eating sweets"/>
    </div>
</main>