---
---
<html lang="en">
    <aside id="sidebar">
        <div class="boxed">
            <a href="/astro_gallery">Home</a>
        </div>
        <div class="boxed">
            <a href="/astro_gallery/socal">Epic SoCal Trip</a>
        </div>
    </aside>
    <div id="overlay"></div>
    <script>
        import "../scripts/app.js"
    </script>
</html>